body {
	margin: 0;
	font-family:'azo-sans-web', 'Atlas Grotesk';
}

.column-left{
	background-color: #262626;
	float: left;
	width: 24%;
}

.column-right{
	background-color: white;
	float: right;
	width: calc(24% - 2px);
	border-left: 1px solid #909090;
}

.column-center{
	background-color: white;
	display: inline-block;
	width: 52%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.homelink img {
    width: 29px;
}

.homelink span {
	position: relative;
	top: 4px;
	font-size: 19px;
	padding-left: 5px;
}

.right-link {
	float: right;
	margin-right: 5px;
	margin-top: 5px;
	color: #CDCDCD;
}

.right-link a {
    color: #d8d8d8;
}

.container {
    height: calc(100vh - 59px);
}

.column-center, .column-left, .column-right {
    height: 100%;
}

.column-left p {
    font-size: 19px;
    color: white;
    text-align: center;
    font-weight: 600;
}

.announcements-head {
    font-size: 19px;
    color: black;
    margin-left: 22px;
    font-weight: 600;
}

iframe#twitter-widget-0 {
    height: 70% !important;
}

.links-col1 {
    float: left;
    width: 50%;
}

.links-col2 {
    float: right;
    width: 50%;
}

.links ul {
    list-style: none;
    padding-left: 20px;
    margin-top: 5px;
}

.links ul
 li {
    line-height: 1.6;
    font-size: 15px;
}

.links {
    clear: none;
    width: 85%;
    max-width: 240px;
    margin: 0 auto;
}

.column-right p {
    font-size: 19px;
    color: black;
    text-align: center;
    font-weight: 600;
    margin: 7px;
}

.announcement {
    width: 90%;
    margin-left: 22px;
}

.announcement p {
    font-size: 13px;
    margin-top: 6px;
}

.announcement h4 {
    margin-bottom: 5px;
}

.highest.announcement p {
    font-size: 17px;
}

.highest.announcement h3 {
    font-size: 20px;
    margin-bottom: 9px;
    margin-top: 0;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.closeAPI, .closePrizes, .closewkshps {
    color: white;
    float: right;
    font-size: 32px;
    font-weight: bold;
    transition: 0.3s fade;
}

.closeAPI:hover, .closePrizes:hover, .closewkshps:hover, .closeAPI:focus, .closePrizes:focus, .closewkshps:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #4a4a4a;
    color: white;
}

.modal-body {padding: 2px 16px;}

p.day {
    font-weight: 100;
    font-size: 21px;
    text-align: left;
    padding-left: 15px;
}

.column-left ul {
    list-style: none;
    padding-left: 15px;
}

.time-block {
    background-color: #85D961;
    padding: 5px;
    margin-right: 15px;
    color: black;
}

.column-left li {
    color: #c7c7c7;
}

.links a {
    text-decoration: none;
    color: black;
}

div#announcements {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
    height: 85%;
    width: 99%;
}

.countdown {
	position: absolute;
	bottom: 2%;
	left: 1%;
	width: 19.5%;
	background: #4C4C4C;
	padding: 1px 13px 5px 13px;
}

.time-count p {
    display: inline;
}

.time-count, .time-count p {
    font-size: 60px;
    color: white;
    text-align: center;
}

.countdown p {
    margin-bottom: 0;
}

.col1 {
    float: left;
    width: 50%;
}

.col2 {
    float: right;
    width: 50%;
}

.api-logos img {
    display: block;
    width: 50%;
    margin: 20px auto;
}

.api-logos a {
    text-align: center;
    display: block;
    margin: 20px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

@media (max-width: 1090px) and (min-width: 825px) {
	.column-right {
	    width: calc(32% - 2px);
	}

	.column-center {
	    width: 44%;
	}
}

@media (max-width: 824px) {
	.column-center, .column-left, .column-right {
	    float: none;
	    width: 100%;
	}

	.container {
	    height: auto;
	}

	div#announcements {
	    height: 480px;
	}

	.column-left {
	    padding-top: 10px;
	    padding-bottom: 40px;
	}

	iframe#twitter-widget-0 {
	    height: 380px !important;
	    width: 81% !important;
	    margin: 80px auto;
	    display: block !important;
	}
	.modal-content {
	    width: 100%;
	    height: 100%;
        overflow-y: scroll;
	}
	.modal {
	    padding-top: 0;
	}
	.countdown {
	    position: relative;
	    margin: 40px auto 0px auto;
	    width: 50%;
	}
}

@media (max-width: 680px) {
	.col1, .col2 {
	    float: none;
	    width: 78%;
	    margin: 0 auto;
	}

	.api-logos a {
	    margin: 40px;
	}

	.api-logos img {
	    width: 100%;
	    max-width: 230px;
	}
}


div#prizes-container,div#workshops-container  {
    padding: 20px;
}

#prizes-container h1, #workshops-container h1 {
    text-align: center;
    font-size: 40px;
}

.top10-title {
    text-decoration: underline;
    margin-bottom: -12px;
}

.em {
    height: 1.4em;
    margin-bottom: 7px;
}

#workshops-container h2 {
    font-weight: 200;
    color: #8BDA48;
}

#workshops-container b {
    color: black;
}

#workshops-container h4 {
    margin-top: -15px;
    font-weight: 200;
    font-style: italic;
}