body {
	margin: 0;
	font-family:'azo-sans-web', 'Atlas Grotesk';
}

.column-left{
	background-color: #262626;
	float: left;
	width: 24%;
}

.column-right{
	background-color: white;
	float: right;
	width: calc(24% - 2px);
	border-left: 1px solid #909090;
}

.column-center{
	background-color: white;
	display: inline-block;
	width: 52%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.homelink img {
    width: 29px;
}

.homelink span {
	position: relative;
	top: 4px;
	font-size: 19px;
	padding-left: 5px;
}

.right-link {
	float: right;
	margin-right: 5px;
	margin-top: 5px;
	color: #CDCDCD;
}

.right-link a {
    color: #d8d8d8;
}

.container {
    height: calc(100vh - 59px);
}

.column-center, .column-left, .column-right {
    height: 100%;
}

.column-left p {
    font-size: 19px;
    color: white;
    text-align: center;
    font-weight: 600;
}

.announcements-head {
    font-size: 19px;
    color: black;
    margin-left: 22px;
    font-weight: 600;
}

iframe#twitter-widget-0 {
    height: 70% !important;
}

.links-col1 {
    float: left;
    width: 50%;
}

.links-col2 {
    float: right;
    width: 50%;
}

.links ul {
    list-style: none;
    padding-left: 20px;
    margin-top: 5px;
}

.links ul
 li {
    line-height: 1.6;
    font-size: 15px;
}

.links {
    clear: none;
    width: 85%;
    max-width: 240px;
    margin: 0 auto;
}

.column-right p {
    font-size: 19px;
    color: black;
    text-align: center;
    font-weight: 600;
    margin: 7px;
}

.announcement {
    width: 90%;
    margin-left: 22px;
}

.announcement p {
    font-size: 13px;
    margin-top: 6px;
}

.announcement h4 {
    margin-bottom: 5px;
}

.highest.announcement p {
    font-size: 17px;
}

.highest.announcement h3 {
    font-size: 20px;
    margin-bottom: 9px;
}