{% extends "user.base.html" %}

{% block content %}
{% with nav_bar = nav_bar %}
<div class="in profile">
  {% include "navbar.html" %}
{% endwith %}




<div class="message">

{% if rsvp == True %}
	<h1>Hey {{ current_user.first_name }}!</h1>
	<h2>You're all set! We'll see you soon :)</h2>

	<div id="twrap">


	<p>In order to finishing claiming your acceptance, submit a signed <a href="/waiver">hackbca.com/waiver</a> before March 23rd. Waivers can be scanned and emailed to <a target="_blank" href="mailto:waivers@hackbca.com">waivers@hackbca.com</a> or submitted to BCA's main office. </p> <p class="w" style="font-style: italic;
  font-weight: bold;">No waiver, no attendance.</p>	</div><br>
	<input type="submit" value="SETTINGS" onclick="window.location='/account/settings';" class="button"><br>
    <input type="submit" value="Log Out" onclick="window.location='/logout';" class="button"><br><br>
    <p>Have a question? Shoot us an email at <a target="_blank" href="mailto:contact@hackbca.com">contact@hackbca.com</a>.</p>
{% elif decision == "accepted" %}
	{% if current_user.type_account == "hacker" %}
	<h1>Time to RSVP!</h1>
	<h2>Congrats on getting into hackBCA :)</h2>
	<br>
	<div id="twrap">
		<p>In order to claim your acceptance, RSVP and submit a signed <a href="/waiver">hackbca.com/waiver</a> before March 23rd. Waivers can be scanned and emailed to <a target="_blank" href="mailto:waivers@hackbca.com">waivers@hackbca.com</a> or submitted to BCA's main office. </p> <p class="w" style="font-style: italic;
  font-weight: bold;">No waiver, no attendance.</p>
		</div>
		
		

		<!-- <p>Alternatively, you can submit it to the BCA Main Office.</p>
		 -->
<!-- 
		<p class="w">*Waivers must be submitted by the 23rd. </p>
		 -->
		<br>
      
        <input type="submit" value="RSVP Form" onclick="window.location='/account/rsvp';" class="button"><br>
        <input type="submit" value="Log Out" onclick="window.location='/logout';" class="button"><br>
        
          <p>Have a question? Shoot us an email at <a target="_blank" href="mailto:contact@hackbca.com">contact@hackbca.com</a>.</p>
    {% elif current_user.type_account == "mentor" %}
    	<h1>Hey {{ current_user.first_name }}!</h1>
    	<h2>Congrats on getting into hackBCA!</h2>
        
        <br>
        <p>Emails and RSVP forms for mentors will be released shortly.</p>
        <input type="submit" value="SETTINGS" onclick="window.location='/account/settings';" class="button"><br>
        <input type="submit" value="Log Out" onclick="window.location='/logout';" class="button"><br>
        <p>Have a question? Shoot us an email at <a target="_blank" href="mailto:contact@hackbca.com">contact@hackbca.com</a>.</p>
    {% endif %}
    
{% elif decision == "rejected" %}
	<h1>Hey {{ current_user.first_name }}!</h1>
	<h2>Sorry, you've been put on our waitlist. :(</h2>
		<br>
		<p>Unfortunately, we don't have enough space to accomodate all of our applicants.</p>
		<p>However, there's still a chance you'll be able to come to hackBCA IV so keep checking your email!</p>
		<br>
        <p>Have a question? Shoot us an email at <a target="_blank" href="mailto:contact@hackbca.com">contact@hackbca.com</a>.</p>
        <input type="submit" value="SETTINGS" onclick="window.location='/account/settings';" class="button"><br>
        <input type="submit" value="Log Out" onclick="window.location='/logout';" class="button"><br>

{% else %}
	<h1>Hey {{ current_user.first_name }}!</h1>
	<div id="twrap" style=" max-width: 35%;margin: 0 auto;line-height: 2;">
	<h2>Watch out for an email from us in the near future. Check back here to see if you've got in!</h2>
	</div>
    
    <br>
    <br>
    
    <p>Have a question? Shoot us an email at <a target="_blank" href="mailto:contact@hackbca.com">contact@hackbca.com</a>.</p>
    <input type="submit" value="SETTINGS" onclick="window.location='/account/settings';" class="button"><br>
    <input type="submit" value="Log Out" onclick="window.location='/logout';"class="button">
{% endif %}

        
      </div>

</div>
 {% include "footer.html" %}
 {% block scripts %}
  <script src="https://use.typekit.net/cdh1lxe.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="https://use.fontawesome.com/8e5e6b8c4e.js"></script>
 {% endblock %}
{% endblock %}