{% extends "base.html" %}


{% if not current_user.is_authenticated %}
  {% set action = "no_user" %}
{% else %}
  {% if current_user.checked_in %}
    {% set action = "live" %}
  {% elif current_user.attending in ["Attending", "Not Attending"] %}
    {% set action = "attending" %}
  {% elif current_user.decision in ["Accepted", "Waitlisted", "Expired"] %}
    {% set action = "decision" %}
  {% else %}
    {% set action = "none" %}
  {% endif %}
{% endif %}


{% set decision_navbar = [
  ("/#home", "Home", False),
  ("/account/rsvp", "RSVP", False),
  ("/account/settings", "Settings", False)]
-%}

{% set attending_navbar = [
  ("/#home", "Home", False),
  ("/account/settings", "Settings", False)]
-%}

{% set live_navbar = [
  ("/#home", "Home", False),
  ("/account/settings", "Settings", False)]
-%}

{% set default_user_navbar = [
  ("/#home", "Home", False),
  ("/account/settings", "Settings", False)]
-%}

{% set default_navbar = [
  ("/#home", "Home", False)
]
-%}

{% if action == "no_user" %}
  {% set nav_bar = default_navbar %}
{% elif action == "decision" and current_user.decision == "Accepted" %}
  {% set nav_bar = decision_navbar %}
{% elif action == "attending" %}
  {% set nav_bar = attending_navbar %}
{% elif action == "live" %}
  {% set nav_bar = live_navbar %}
{% elif action != "no_user" %}
  {% set nav_bar = default_user_navbar %}
{% else %}
  {% set nav_bar = default_navbar %}
{% endif %}

{% block static_folder %}user_static{% endblock %}

{% block header %}{% endblock %}
{% block content %}{% endblock %}
{% block scripts %}
 <script src="https://use.typekit.net/cdh1lxe.js"></script>
      <script>try{Typekit.load({ async: true });}catch(e){}</script>
      <script src="https://use.fontawesome.com/8e5e6b8c4e.js"></script>
{% endblock %}
