<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>hackBCA IV Admin Portal</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel='stylesheet' type="text/css" href='http://fonts.googleapis.com/css?family=PT+Sans'>
        <link rel="stylesheet" type="text/css" href="../live_static/css/paths.css">
    </head>
    
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/admin">hackBCA IV Admin Portal</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated and current_user.is_active %}
                        <li><a href="/dashboard">View Dashboard</a></li>
                        <li><a href="/logout">Logout</a></li>
                    {% else %}
                        <li><a href="/admin">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1>Hackers Registered for Hardware Path</h1>
                {% if error %}
                    <h2>{{ error }}</h2>
                {% endif %}
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row">
        <form method="POST" action="/hardware" class="text-center">
            <div class="col-md-1"></div>
                <div class="col-md-6">
                
                    {% for i in range(100) %}
                        <div class="form-group">
                        {% if hacker_names[i] %}
                            <input style="width: 100%" type="text" name="name{{ i + 1 }}" value="{{ hacker_names[i] }}" placeholder="Hacker's Name">
                        {% else %}
                            <input style="width: 100%" type="text" name="name{{ i + 1 }}" value="" placeholder="Hacker's Name">
                        {% endif %}
                        </div>
                    {% endfor %}
                    
                    <br>
                </div>

                <div class="col-md-4">
                
                    {% for i in range(100) %}
                        <div class="form-group">
                        {% if phone_nums[i] %}
                            <input style="width: 100%" type="text" name="phone{{ i + 1 }}" value="{{ phone_nums[i] }}" placeholder="Hacker's Phone Number (10 Digits only)">
                        {% else %}
                            <input style="width: 100%" type="text" name="phone{{ i + 1 }}" value="" maxlength="10"placeholder="Hacker's Phone Number (10 Digits only)">
                        {% endif %}
                        </div>
                    {% endfor %}
                    
                    <br>
                    
                </div>
            <div class="col-md-1"></div>
            
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-lg btn-block text-center">Save Changes</button>
            </div>
            <div class="col-md-3"></div>
            </form>
            </div>

            <div class="row">

            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button class="btn btn-lg btn-block text-center" id="save_phone_nums" onclick="copyToClipboard()">Copy phone numbers to clipboard</button>
                <br><br>
            </div>
            <div class="col-md-3"></div>
            </div>
        
    </div>
 </body>   
</html>

<script>
  function copyToClipboard() {
    var result = "";
    for (var i = 1; i < 101; i++) {
        var temp_num = "phone" + i;

        var temp = $("input[name=" + temp_num + "]").val();
        if (temp.length > 0) {
            result += temp + ",";
        }
    }

    window.prompt("Copy to clipboard: Ctrl+C, Enter", result);
  }
</script>