<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>hackBCA IV Admin Portal</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel='stylesheet' type="text/css" href='http://fonts.googleapis.com/css?family=PT+Sans'>
        <link rel="stylesheet" type="text/css" href="../live_static/css/paths.css">
    </head>
    
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/admin">hackBCA IV Admin Portal</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated and current_user.is_active %}
                        <li><a href="/dashboard">View Dashboard</a></li>
                        <li><a href="/logout">Logout</a></li>
                    {% else %}
                        <li><a href="/admin">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1>Log In</h1>
                {% if error %}
                    <h2>{{ error }}</h2>
                {% endif %}
                
                <form method="POST" action="/ios" class="text-center">
                    <div class="form-group">
                        <input style="width: 75%" type="text" name="username" placeholder="Username">
                    </div>
                    
                    <div class="form-group">
                        <input style="width: 75%" type="password" name="password" placeholder="Password">
                    </div>
                    
                    <button type="submit" class="btn btn-lg btn-block text-center">Log In</button>
                    <br>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
 </body>   
</html>