{% extends "user.base.html" %}
{% block content %}
<div class="in profile settings">
{% with nav_bar = nav_bar %}
  {% include "navbar.html" %}
{% endwith %}

<h1>Account Settings</h1>
  <h4>Edit your settings here!</h4>


       <form id="name-form" method="POST" action="/account/settings">
       <input type="hidden" name="setting" value="name"/>
      {% for field in name_form %}
              {{ render_field(field) }}
      {% endfor %} 
      <input type="submit" value="Change Name" class="button">
      </form>

      <form id="password-form" method="POST" action="/account/settings">
          <input type="hidden" name="setting" value="password"/>
            {% for field in password_form %}
              {{ render_field(field) }}
            {% endfor %}
          
            <input type="submit" value="Change Password" class="button">
      </form>
  

        <br>
        <br>

       <form id="delete_account-form" method="POST" action="/account/settings">
          <input type="hidden" name="setting" value="delete_account"/>
      <input type="submit" value="DELETE ACCOUNT" class="button" style="background-color:red !important; border: 2px solid red !important;"><br>
      </form>
      <br>

   
    </div>

 {% include "footer.html" %}
 {% block scripts %}
   <script src="https://use.typekit.net/cdh1lxe.js"></script>
      <script>try{Typekit.load({ async: true });}catch(e){}</script>
      <script src="https://use.fontawesome.com/8e5e6b8c4e.js"></script>
 {% endblock %}
{% endblock %}