<!DOCTYPE html>
<html>
<head>
	<script src="https://use.typekit.net/cdh1lxe.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	<link rel="icon" href="https://s3.amazonaws.com/hackbcaiv/favicon.png">
	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
	<script src = "https://platform.twitter.com/widgets.js"></script>
	<title>hackBCA IV Workshops</title>
</head>
<body>

<nav class = "header">
	<ul>
	  <li>
	  	<a class = "homelink">
			<img style="vertical-align:middle" src="logo-new.png">
	  		<span>hackBCA IV</span>
  		</a>
	  </li>

	  <li class="right-link"><a target = "_blank" href="https://livestream.com/accounts/18225475/hackbca">Livestream</a></li>
	</ul>
</nav>

<div id = "workshops-container">
	<h1>WORKSHOPS</h1>
	
	<h2><b>Gotta Code 'Em All</b> - Make School</h2>
	<h4>Room 110 - 1:30 PM</h4>
	<p>This workshop is ideal for those of you that are complete beginners. This workshop will show you some basic programming concepts that extend across all languages, not just Swift. For iOS Path participants, this workshop is required if you have no prior programming experience.</p>
	<p>“You will be using the Swift programming language, but the concepts you learn will apply to all programming languages. You will use variables to store data and functions to define pieces of code. You will also use if-then-else statements to decide which piece of code to run and for-loops to run a piece of code multiple times.”</p>

	<h2><b>Art + Code with p5.js</b> - Upperline Code</h2>
	<h4>Room 110 - 3:00 PM</h4>
	<p>Learn to use p5.js with Upperline Code's expert instructors! Coding is typically seen as a very "science-y" subject, but much of the art we experience today in the digital era is built through code. More info coming soon.</p>

	<h2><b>Building Interactive Dashboards</b> - Qlik</h2>
	<h4>Room 140 - 3:30 PM</h4>
	<p>Qlik is a company renowned for their powerful data visualization technology. In this workshop, Qlik engineers will teach you how to use their new Qlik Playground platform to quickly build data driven dashboards. More info coming soon.</p>

	<h2><b>Introduction to Git</b> - GitHub</h2>
	<h4>Room 110 - 4:30 PM</h4>
	<p>Git is a cornerstone of the current programming paradigm. It is a tool which allows programmers to work together effectively and back up their code in a meaningful manner. What GitHub, the company hosting this workshop, did to the world of "version control" (i.e. Git) is very similar to what Google Docs did to traditional Word documents.</p>
	<p>In this workshop, you'll be learning how to use Git and GitHub, some of the <b>most important</b> tools used by modern programmers. Not only are these skills extremely useful in the context of a single hackathon, but they are vital in being a successful programmer moving forward. </p>

	<h2><b>Introduction to Virtual Reality</b> - Da Xue</h2>
	<h4>Room 140 - 5:00 PM</h4>
	<p>In this workshop, you'll be learning the basics of coding for Virtual Reality. VR is an exciting new world of opportunities, and Da will help expose it to you! More info coming soon.</p>

	<h2><b>Twilio with Node.js</b> - Twilio</h2>
	<h4>Room 110 - 7:30 PM</h4>
	<p>Twilio's voice &amp; video, messaging, and authentication APIs power many of the companies you interact with every day, from Netflix to Coca Cola. In this workshop, a Twilio developer will walk you through how to harness the power of their platform using Node.js. More info coming soon.</p>

</div>

</body>
</html>